[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "cd backend && npm run build && node dist/index.js"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000
